# Virtual Environment
.venv/
venv/
ENV/

# Environment Variables & Secrets
.env

# SQLite Database Files
*.db

# Python Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class

# IDE & OS Files
.vscode/
.idea/
.DS_Store
Thumbs.db
